:root{
    --main-text-color: white;
    --grey-text-color:grey;
    --main-bg-color: ;
    --header-bg-color:  rgba(128,128,128, 0.8);
    --footer-bg-color: #333;
}


body{
    min-width: 550px;
    font-family: 'Lato', sans-serif;
    font-size: large;
    background-color:#ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





.detail-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "event-title event-title"
    "event-detail rating-service";

    margin-bottom: 2rem;
}

.event-title{
    grid-area: event-title;
    justify-content: center;
    margin-bottom: 2rem;
}


.event-detail .rating-service{
    background:var(--main-bg-color);
    padding: 1.5rem;
    border: 1px solid lightgray;
    box-shadow: 1px 1px lightgray;
}


.event-detail{
    grid-area: event-detail;
}


.event-pic img{
    border-radius: 10px;
}

.event-detail .fa-tag{
    margin-left: 0.5rem;
}

.event-detail .p-head{
    font-weight: 600;
}

.rating-service{
    grid-area: rating-service;
}

.recent-visit img{
    height: 50px;
}



.similar-attraciton{
    margin-top: 2rem;
    background: white;
    padding: 1.5rem;
    border: 1px solid lightgray;
    box-shadow: 1px 1px lightgray;
}


