* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    color: grey;
}
/* typography */
.paragraph {
    font-size: 1.6rem;
}
/* utilities */
.text_align-center {
    text-align: center;
}
.mb-huge {
    margin-bottom: 10rem;
}
.mb-big {
    margin-bottom: 6rem;
}
.mb-medium {
    margin-bottom: 4rem;
}
.mb-small {
    margin-bottom: 2rem;
}
.mt-small {
    margin-top: 2rem;
}

/* .u-text-align-center { text-align: center; }
.u-margin-bottom-huge { 
    margin-bottom: 10rem; 
    
    @include response (tablet-portrait) {
        margin-bottom: 6rem;  
    }
}
.u-margin-bottom-big { 
    margin-bottom: 6rem; 

    @include response (tablet-portrait) {
        margin-bottom: 4rem;  
    }

}
.u-margin-bottom-medium { margin-bottom: 4rem; } 
.u-margin-bottom-small { margin-bottom: 2rem; }  

.u-margin-top-huge { margin-top: 10rem; }
.u-margin-top-big { margin-top: 6rem; }
.u-margin-top-medium { margin-top: 4rem; } 
.u-margin-top-small { margin-top: 2rem; }  */

/* style form */
.contact_form {
    /* background-image: linear-gradient(to bottom,rgba(255,255,255, 0.8), rgba(255,255,255,0.7)), url("../img/contact-640.jpg"); */
    background-size: cover;
    max-width: 50%;
    margin: 0 auto;

}
.form_grid {
    display: grid;
    gap: 1rem;
}
.form {
    font-family: inherit;
    color: grey;
}
.form_group {
    text-align: left;
    display: flex;
}
.form_input {
    display: block;
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    color: inherit;
}
.form_input::placeholder {
    font-size: 1.6rem;
}
textarea {
    height: 100px;
    resize: none;
}

.form_label {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    text-align: left;

}
.btn-span {

    text-align: center;
}



/* style buttons */

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    border-radius: 10rem;
    transition: all .5s;
    animation: moveInBottom 1s ease-in;
    border: none;
}

.btn:hover {
    transform: translateY(-.6rem);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255,0.9);
}

.btn,
.btn:active {
    outline: none;
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255,0.9);
}
.btn-white {
    background-color: white;
    color: grey;
}
.btn-gray { 
    color: white;
    background-color: gray;
}

/* style header */
.header {
    background-image: linear-gradient(to bottom,rgba(128,128,128, 0.8), rgba(0,0,0,0.7)), url("../img/header-1920.jpg");
    background-size: cover;
    height: 95vh;
    background-position: top;
    background-attachment: fixed;
    color:grey;
}
.header_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    /* Primary h1 heading */

.heading_primary {
    transition: all .2s;
}

.heading_primary span {
    display: block;
    text-transform: uppercase;
    color: white;
}

.heading_primary-main {
    letter-spacing: 2rem;
    font-size: 4rem;
    font-weight: 400;
    animation: moveInLeft 1.5s ease-in;
}

.heading_primary-sub {
    letter-spacing: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 6rem;
    animation: moveInRight 1.5s ease-in;

}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
        
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
        
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(1rem)
    }

    100% {
        opacity: 1;
        transform: translate(0);
        
    }
}

/*style about section*/
.heading_secondary {
    display: block;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .2s;
}

.heading_secondary:hover {
    text-shadow: 0 1rem 2rem rgba(0.0.0, .5);
    transform: scale(1.02);
    transform: translateY(-2px);
}

.section_about {
    background-color: lightgrey;
    padding: 10rem 0;
}

/* style share section */

.section_share {
    padding: 10rem 0;
    color: white;
    background-image: linear-gradient(to bottom,rgba(128,128,128, 0.8), rgba(0,0,0,0.7)), url("../img/share-1920.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

/* style contact section*/
.section_contact {
    background-color: lightgrey;
    padding: 10rem 0;
}

/* style footer*/

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10rem 10rem;
    font-size: 1.4rem;
    color: gray;
}
.footer_navigation {
    border-top: 1px solid gray;
    padding-top: 2rem;
    
}
.footer_list {
    list-style: none;
    display: inline-block;
}
.footer_item {
    display: inline-block;
}
.footer_item:not(:last-child) {
        margin-right: 2rem;
}
.footer_link,
.footer_link:link,
.footer_link:visited {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: gray;
}

.footer_link:hover,
.footer_link:active {
    
}
