:root {
    --main-text-color: white;
    --grey-text-color: grey;
    --main-bg-color: ;
    --header-bg-color: rgba(128, 128, 128, 0.8);
    --footer-bg-color: #333;
    --link-text-color: #1ebba3;
    --rating-star-color: orange;
    --dark-text-color: rgb(2, 36, 44);
  }


.card-title{
    font-size: 2rem;
    font-weight: 600;
    color:var(--link-text-color)
}

.p-head{
font-weight: 600;
color: var(--link-text-color);
}


.event-rating {
    color: var(--rating-star-color);
  }

