/* version1021.1 by Edwin */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #ffffff;
  font-family: Raleway, Lato, sans-serif;
  font-size: 1.6rem;
  color: #818181;
}

.gallary {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallary .sightseeingCard {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 320px;
  height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.18);
          box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.18);
  margin: 5px;
}

.gallary .sightseeingCard .sightseeingImage img {
  -webkit-transform: scale(0.75, 0.75) translateY(-20px);
          transform: scale(0.75, 0.75) translateY(-20px);
  background-color: white;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transition: -webkit-filter 500ms ease 50ms;
  transition: -webkit-filter 500ms ease 50ms;
  transition: filter 500ms ease 50ms;
  transition: filter 500ms ease 50ms, -webkit-filter 500ms ease 50ms;
}

.gallary .sightseeingCard .sightseeingImage img:hover {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 500ms ease 50ms;
  transition: all 500ms ease 50ms;
}

.gallary .sightseeingCard .sightseeingFooter {
  font-size: 1.2rem;
  margin-left: 40px;
  width: 230px;
  font-size: 1.6rem;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -30px;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingTitle .sightseeingName {
  font-size: 2rem;
  font-weight: bold;
  color: #212121;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingTitle .sightseeingVideo:hover {
  color: #3085e6;
  font-weight: bold;
  cursor: pointer;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingRating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingRating .sightseeingRates {
  font-size: 1.8rem;
  color: #ffc400;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingRating .sightseeingRateNumber:hover {
  color: #3085e6;
  font-weight: bold;
  cursor: pointer;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingService {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingService .serviceItem {
  margin: 5px 5px 2px 0;
  color: #08a337;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingService .serviceItem:hover {
  cursor: pointer;
}

.gallary .sightseeingCard .sightseeingFooter .sightseeingService .serviceItemGray {
  margin: 5px 5px 2px 0;
}
/*# sourceMappingURL=sightseeingcard.css.map */