/* style footer */
.div-border-top {
    border-top: 1px solid #fff;
}
.footer ul {
    list-style: none;
}
.footer li {
    padding: 0.5rem;
}
.footer a {
    text-decoration: none;
}
.footer a,
.footer a:link,
.footer a:active,
.footer a:hover {
    color: #fff;
}

.footer .copyrights {
    font-size: 0.8rem;
}
.footer .copyrights li {
    display: inline-block;
    padding: 0 0.5rem;
}
.footer .copyrights li:first-child {
    border-right: 1px solid #fff;
}
.footer .social a {
    margin-right: 1rem;
}
.footer .social i {
    font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
    .footer .copyrights {
        font-size: 1rem;
    }
    .footer .copyrights li {
        display: block;
        padding-bottom: 0.5rem;
    }
    .footer .copyrights li:first-child {
        border: none;
    }
}

/* Style header */

.header nav {
    border-bottom: 1px solid #1ebba3;
    box-shadow: 1px 1px 2px  #06a587;
}
.brand {
    font-size: 2rem;
}
.link-reset {
    text-decoration: none;
    color: #1ebba3;
}
.link-reset:hover,
.link-reset:active {
    text-decoration: none;
    color: #06a587;
}
.navbar-dark .navbar-nav .nav-link {
    color: #1ebba3;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active {
    color: #06a587;
}
.nav-menu i{
    margin-right: 0.5rem;
    font-size: 1rem;
}
.nav-menu a {
    text-transform: uppercase;
}

.btn-custom,
.btn-custom:link,
.btn-custom:visited {
    color: #fff;
    background-color: #1ebba3;
    border-color: #1ebba3;
}
.btn-custom:hover {
    background-color: #06a587;
    border-color: #06a587;
    color: #fff;
}
.btn-custom:active {
    background-color: #068d74;
    border-color: #068d74;
}
.btn-custom:focus {
    background-color: #12b199;
    border-color: #12b199;
    box-shadow: 0 0 0 0.2rem rgba(53, 209, 186,.5);
}
.text-custom {
    color: #1ebba3;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #1ebba3;
}